* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

html, body{
    background: #e0e0e0;
    background-color: #e0e0e0;
}

.header-primario {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  background: #00478F;
  border-bottom: 3px solid #d4d4d4;
}

.azulado{
  background: #00478F;
  border-bottom: 6px solid #d4d4d4;
  margin-bottom: 15px;
}
.azulado a{
  color: #d4d4d4;
}
.login {
  width: 100%;
  height: calc(100vh - 160px);
  background: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registro {
  width: 100%;  
  background: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 30px;
}
.containerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: auto;
  padding: 10px;
  height: calc(100vh - 360px);
  border-radius: 10x;
background: #e0e0e0;
box-shadow:  4px 4px 8px #bebebe,
             -4px -4px 8px #ffffff;
}

.novedadSingle{
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.formulario {
  height: 120px;
  max-width: 400px;
  /*background-color: rebeccapurple;*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.registrar{
  height: 100%;
}
.campo {
 
 
  padding: 2px 5px;
  outline: 0px;
}
.campo:focus{
    outline: 1px solid #00478F;
}
.boton{
    width: 140px;
    height: 30px;
    margin: 8px 0px;
    border: 0;
    border-radius: 4px;
    background: linear-gradient(145deg, #004c99, #004081);
    box-shadow:  2px 2px 4px #bebebe,
                -2px -2px 4px #ffffff;
    color: #e0e0e0;
    cursor: pointer;
}
.boton:hover{
  border-radius: 4px;
  background: linear-gradient(145deg, #0260be, #004285);
  box-shadow:  2px 2px 4px #bebebe,
  -2px -2px 4px #ffffff;
}

.boton:active{
    border-radius: 4px;
    background: linear-gradient(145deg, #004081, #004c99);
    box-shadow:  2px 2px 4px #bebebe,
    -2px -2px 4px #ffffff;
}
.container a{
    color: #00478F;
    font-size: 0.75rem;
    padding: 5px;
}
h5{
    padding: 5px;
    
}
.margenCard{
  margin: 5px 0px;
}

.novedades{
  width: 30vw;
  margin: 5px;
  padding: 15px;
  border: 1px solid #bebebe;
  border-radius: 10px;
  background:#f1f1f1;
  flex-direction: column;

}
.instructivos{
  width: 60vw;
  margin: 5px;
  padding: 15px;
  border: 1px solid #bebebe;
  border-radius: 10px;
  background:#f1f1f1;
  flex-direction: column;
}
.containerInstructivos{
  display: flex;
  justify-content: space-between;
}
.principal{
  display: flex;
  justify-content: space-around;
}
.anchoInput{
  width: 250px;
}

.logo{
  width: 280px;
  height: 52px;
}
.formBusqueda{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.borrar{
  margin: 0;
  margin-bottom: 2px !important;
}
.borrar a{
  margin: 0;
  text-decoration: none;
  color: #004081;
  font-style: italic;
  font-size: 14px;
  
}

.errorlist {
  color: #f1f1f1;
  margin: 0;
}
.formRegistro p{
  margin-bottom: 0px;
  
}
.blanco {
  background: #f1f1f1 ;
}
.blancoInstructivo{
  background: #f1f1f1 ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
}
.blancoInstructivo h5{
  margin: 5px;
}
.usuario{
  color: greenyellow;
  font-style: italic;
  font-size: 16px;
  margin: 0;
  height: 40px;
  text-align: end;
}
.usuarios{
  margin: 15px 25px;
}
.rojo {
  color: red !important;
}
.verde{
  color: green !important;
}
.busquedaUsuario{
  display: flex;
  justify-content: flex-end;
 
}
.busquedaUsuarioBox{
  width: 300px;
}

.img-novedad{
  width: 50vw;  
}

.formularioNovedad {
  
  max-width: 400px;  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.contNovedad{
  padding: 5px;
  margin:2px;
}

.novedad{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.novedad h3{
  font-weight: bold;
  color: #004081;
}

.imgNovedad{
  width: 35vw;
}
.seccionNovedad{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.heavyBlue{
  font-weight: bold;
  color: #004081 !important;
}