{% extends 'base.html' %}
{% load static %}

{% block bloque_main %}

<main>
    <div>
        {% if texto %}
        <div class="alert alert-success" role="alert" style="text-align: center;">
            {{texto}}
        </div>
        {% endif %}
    </div>
    <div style="margin: auto;width: 450px;align-content: center;">
        <div class="shadow p-4 mb-4 rounded blancoInstructivo">
            <div>
                <h5>Subir manual</h5>
            </div>
            <form class="formulario" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Categoria</label>
                    <select class="form-select" id="inputGroupSelect01" name="categoria">
                        <option selected></option>
                        {% for n in categoria %}
                        <option value="{{n.categoria}}">{{n.categoria}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="vehiculo">Titulo</span>
                    <input type="text" class="form-control campo" name="titulo">
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="archivo">
                </div>

                <input class="boton" type="submit" value="cargar">
            </form>
        </div>
    </div>
</main>

{% endblock %}