{% extends 'base.html' %}
{% load static %}


{% block bloque_login %}


<main>
    <section class="login">
        <div class="container ">
            <h4>Ingresa tus credenciales si estas registradoks</h4>
            <form clase="formulario" action="">
                <input class="input" type="text" name="nombre">
                <input class="input" type="password" name="password">
                <input class="boton" type="submit" value="ingresar">
            </form>
            <a href="">registrarse</a>
        </div>
    </section>
    <section class="texto-login">

    </section>

</main>

{% endblock %}