{% extends 'base.html' %}
{% load static %}


{% block bloque_login %}


<main>
    <section class="login">
        <div class="container ">
            <h5>Ingresa tus credenciales si estas registrados</h5>
            <form class="formulario" action="" method="POST">
                {% csrf_token %}
                
                {{formulario.as_p}}

                <input class="boton" type="submit" value="ingresar">
            </form>
            <a href="{% url 'Register' %}">registrarse</a>
        </div>
    </section>
    <section class="texto-login">

    </section>

</main>

{% endblock %}