{% extends 'base.html' %}
{% load static %}

{% block bloque_main %}
<main>
    <section class="container novedadSingle">
        {% if novedad %}
        <div class="row">
            <div class="col-lg-6 col-12">
                <img  src="{{novedad.imagen.url}}" alt="Imagen de la novedad">
            </div>
            <div class="novedad col-lg-6 col-12">
                <h3>{{novedad.titulo}}</h3>
                <h4>{{novedad.subtitulo}}</h4>
                <p>{{novedad.cuerpo}}</p>
            </div>
        </div>
        {% endif %}
    </section>
</main>
{% endblock %}