{% extends "base.html" %}

{% block content %}

<div>
    <div style="margin: auto;width: 450px;align-content: center;">
        <div class="shadow p-4 mb-4 rounded blanco">
            <h3>Reseteo de contraseña</h3>
            {% if validlink %}
            <p>Ingrese su nueva contraseña 2 (dos) veces:</p>
            <form action="." method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Cambiar contraseña" /></p>
            </form>
            {% else %}
            <p>El link para el reseteo de la contraseña es inválido, posiblemente porque ya ha sido usado. Solicite
                nuevamente el
                reseto de contraseña.</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}