{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <div style="margin: auto;width: 550px;align-content: center;">
        <div class="shadow p-4 mb-4 rounded blanco">
            <h3>¿Olvidaste la contraseña?</h3>
            <p>Ingresa tu correo de registro para obtener una nueva contraseña.</p>
            <form action="." method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Enviar correo"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}