{% extends 'base.html' %}
{% load static %}


{% block bloque_registro %}


<main>
    <div>
        <div style="margin: auto;width: 80vw;align-content: center;">
        <div class="shadow p-4 mb-4 rounded blanco">
            <h3 style="color: #004081;" align="center"> Registrar usuario</h1>
                <form action="" method="POST" class="formRegistro">
                    {% csrf_token %}
                    
                    {{form.as_p}}
                    
                    <hr>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="comercio">Comercio</span>
                        <input type="text" class="form-control campo" name="comercio">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="cuit">CUIT</span>
                        <input type="number" class="form-control campo" name="cuit" placeholder="Ej: 30112223334">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="telefono">Telefono</span>
                        <input type="number" class="form-control campo" name="telefono" placeholder="Ej: 1144445555">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="localidad">Localidad</span>
                        <input type="text" class="form-control campo" name="localidad">
                    </div>
        
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Provincia</label>
                        <select class="form-select" id="inputGroupSelect01" name="provincia">
                            <option selected value="CABA">CABA</option>
                            <option value="CABA">CABA</option>
                            <option value="GBA Norte">GBA Norte</option>
                            <option value="GBA Oeste">GBA Oeste</option>
                            <option value="GBA Sur">GBA Sur</option>
                            <option value="GBA Sur">Buenos Aires</option>
                            <option value="Catamarca">Catamarca</option>
                            <option value="Chubut">Chaco</option>
                            <option value="Chubut">Chubut</option>
                            <option value="Córdoba">Córdoba</option>
                            <option value="Córdoba">Corrientes</option>
                            <option value="Córdoba">Entre Rios</option>
                            <option value="Córdoba">Formosa</option>
                            <option value="Córdoba">Jujuy</option>
                            <option value="Córdoba">La Pampa</option>
                            <option value="Córdoba">La Rioja</option>
                            <option value="Córdoba">Mendoza</option>
                            <option value="Córdoba">Misiones</option>
                            <option value="Córdoba">Neuquen</option>
                            <option value="Córdoba">Rio Negro</option>
                            <option value="Córdoba">S. del Estero</option>
                            <option value="Córdoba">Salta</option>
                            <option value="Córdoba">San Juan</option>
                            <option value="Córdoba">San Luis</option>
                            <option value="Córdoba">Santa Cruz</option>
                            <option value="Córdoba">Santa Fe</option>
                            <option value="Córdoba">T. del Fuego</option>
                            <option value="Córdoba">Tucuman</option>
                            <option value="Córdoba">Otro</option>

                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Pais</label>
                        <select class="form-select" id="inputGroupSelect01" name="pais">
                            <option selected value="Argentina">Argentina</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Chile">Chile</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Peru">Peru</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    
                    <div>
                        <input type="submit" value="Registrar"  class="boton">
                    </div>
                
                
                </form>
                <p style="color: red ;">{{mensaje}}</p>
        </div>
        </div>
    </div>
    <!-- <section class="registro">
            <div>
                <h3>Formulario de Registro</h3>
            </div>
            <form class="formulario registrar" action="">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="nombre">Nombre</span>
                    <input type="text" class="form-control campo" name="nombre">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="nombre">Telefono</span>
                    <input type="number" class="form-control campo" name="nombre" placeholder="Ej: 1144445555">
                </div>
                
                <input class="campo" type="number" name="telefono" placeholder="telefono">
                <input class="campo" type="text" name="localidad" placeholder="localidad">
                <select name="provincia" id="">
                    <option value="">CABA</option>
                    <option value="">GBA Norte</option>
                    <option value="">GBA Oeste</option>
                    <option value="">GBA Sur</option>
                    <option value="">Catamarca</option>
                    <option value="">Córdoba</option>
                    <option value="">Chubut</option>
                </select>
                <input class="boton" type="submit" value="registrarse">
            </form>

            <!-- usuario = models.CharField(max_length=20)
            nombre = models.CharField(max_length=60)
            correo = models.EmailField()
            telefono = models.IntegerField()
            localidad = models.CharField(max_length=60)
            provincia = models.CharField(max_length=20)
            pais = models.CharField(max_length=20)
            comercio = models.CharField(max_length=60)
            cuit = models.IntegerField()
        
    </section>
    <section class="texto-login">

    </section> -->

</main>

{% endblock %}